/* styles.css */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0f0f0f;
  color: #fff;
}

.section {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.section-title {
  font-size: 36px;
  font-weight: 600;
}

.highlight {
  color: #8f00ff;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
}

.card {
  background-color: #1e1e1e;
  border-radius: 16px;
  padding: 20px;
  width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
  border-bottom: 5px solid #1f50ff;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 28px rgba(164, 128, 242, 0.4);
}

.card-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.card-title {
  font-size: 20px;
  color: #3346c0;
  margin-bottom: 10px;
}

.card-desc {
  font-size: 14px;
  color: #ccc;
}

.work-section {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.work-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
}

.work-card-box {
  background-color: #1e1e1e;
  border-radius: 16px;
  width: 300px;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  border-bottom: 5px solid #1f50ff;
  color: #ccc;
  text-align: left;
}

.work-card-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 28px rgba(164, 128, 242, 0.4);
}

.work-card-box img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 15px;
}

.position {
  font-size: 20px;
  margin-bottom: 5px;
  color: #ffffff;
}

.company {
  font-size: 16px;
  font-weight: 300;
  color: #a0a0a0;
  margin-bottom: 10px;
}

.duration {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 15px;
}

.work-list {
  padding-left: 20px;
}

.work-list li {
  margin-bottom: 8px;
  font-size: 14px;
}
